@font-face {
    font-family: "Cursed Timer";
    src: url("/CursedTimerUlil-Aznm.ttf")format('truetype');
}

body {
    margin: 0;
    background: #1B244A;
}

.container {
    background: #1B244A;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
}

#guest-score,
#home-score {
    font-family: 'Cursed Timer', sans-serif;
    background: #080001;
    color: #F94F6D;
    text-align: center;
    padding: 30px 0px;
    font-size: 90px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    font-family: 'Cursed Timer', sans-serif;
    font-size: 18px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 10px;
    background: #1B244A;
}